:root {
    --primary-color: #262D37;
    --secondary-color: #367B8A;
    --accent-color: #EF864B; 
    --text-color: #ffffff;
}

.container {
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-radius: 25px;
}

.screen {
    height: 120px;
    width: 330px;
    color: var(--text-color);
}

.result {
    padding: 10px 10px;
    font-size: 3em;
    font-weight: 700;
}

.operation {
    border-bottom: 1px solid #969696;
    font-size: 1.5em;
    padding: 10px 10px;
    color: #969696;
}

.buttons {
    height: 450px;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn, .btn-result, .btn-clear {
    all: unset;
    height: 75px;
    width: 75px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #131a24;
    cursor: pointer;
}

.wild-btn {
    width: 152px;
}

.btn-operator, .btn-clear {
    background-color: var(--secondary-color);
}

.btn-result {
    background-color: var(--accent-color);
}